.form__field {
  display: block;
  width: 100%;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  margin-bottom: 30px;
}

.form__field:last-of-type {
  margin-bottom: 0;
}

.form__field::-webkit-input-placeholder {
  line-height: 1.21;
  color: #c4c4c4;
}
.form__field::-moz-placeholder {
  line-height: 1.21;
  color: #c4c4c4;
}
.form__field::-ms-input-placeholder {
  line-height: 1.21;
  color: #c4c4c4;
}
.form__field::placeholder {
  line-height: 1.21;
  color: #c4c4c4;
}

.form__field:focus {
  border: 0;
  outline: 2px solid rgba(0, 0, 0, .2);
}
