.header {
  padding-top: 45px;
  min-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 659px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    min-height: 84px;
  }
}
