.popup__close-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/popup-close-icon.svg);
  background-size: contain;
  border: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity .15s linear;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 659px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
